@import "tailwindcss";

:root {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  padding-top: 78px;
}

@media (min-width: 1024px) {
  body {
    padding-top: 88px;
  }
}

img, picture, video, canvas, svg {
  max-width: 100%;
  height: auto;
}
